.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 208px;
  padding: 58px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.active {
  color: green;
}
.navigation li {
  display: inline-block;
  padding-right: 19px;
  padding-top: 17px;
  font-size: 1.2em;
}